<link rel="stylesheet" href="/css/contest-card.css">

<div id="container">
    <h1 class="container-heading">
        <%= homeTeamName.toUpperCase() %> -Vs- <%= awayTeamName.toUpperCase() %>
    </h1>
    <!-- <div class="contest-card">
        <div class="card-header">
            <p>Prize Pool</p>
            <p>Entry</p>
        </div>
        <div class="pool-price">
            <p>₹11 Crores</p>
            <button>₹11</button>
        </div>
        <div class="contest-participation">
            <p> 11,000 Spots Left</p>
            <p> 1,11,111 Spots</p>
        </div>
    </div>

    <div class="contest-card">
        <div class="card-header">
            <p>Prize Pool</p>
            <p>Entry</p>
        </div>
        <div class="pool-price">
            <p>₹11 Crores</p>
            <button>₹11</button>
        </div>
        <div class="contest-participation">
            <p> 11,000 Spots Left</p>
            <p> 1,11,111 Spots</p>
        </div>
    </div>

    <div class="contest-card">
        <div class="card-header">
            <p>Prize Pool</p>
            <p>Entry</p>
        </div>
        <div class="pool-price">
            <p>₹11 Crores</p>
            <button>₹11</button>
        </div>
        <div class="contest-participation">
            <p> 11,000 Spots Left</p>
            <p> 1,11,111 Spots</p>
        </div>
    </div>

    <div class="contest-card">
        <div class="card-header">
            <p>Prize Pool</p>
            <p>Entry</p>
        </div>
        <div class="pool-price">
            <p>₹11 Crores</p>
            <button>₹11</button>
        </div>
        <div class="contest-participation">
            <p> 11,000 Spots Left</p>
            <p> 1,11,111 Spots</p>
        </div>
    </div> -->
    <% for(let x of contests) { %>
        <div class="contest-card">
            <div class="card-header">
                <p>Prize Pool</p>
                <p>Entry</p>
            </div>
            <div class="pool-price">
                <p>₹ <%= x.price %></p>
                <button id="money-to-join-contest" data-contest-id = "<%= x.contestId%>" data-match-id="<%= matchId %>">₹<%= x.price/x.totalSpots %></button>
            </div>
            <div class="contest-participation">
                <p> <%= x.spotsLeft %> Spots Left</p>
                <p> <%= x.totalSpots %> Spots</p>
            </div>
        </div>
    <% } %>

    
</div>

<div id="join-contest">
    <p>Do you want to join this contest?</p>
    <div id="join-noJoin-button">
        <button id="yes-contest-join-button">
            Yes
        </button>

        <button id="no-contest-join-button">
            No
        </button>
    </div>
</div>

<div class="create-team-footer">
    <button id="create-team-button">CREATE TEAM</button>
</div>

<div id="select-players-parent">

    <% if(lineupsOut) { %>
        <div id="select-players">
            <% let playerListHome = match_details.results[0].live_details.teamsheets.home %>
            <% let playerListAway = match_details.results[0].live_details.teamsheets.away %>
        
            <strong class="team-name"><%= homeTeamName.toUpperCase() %></strong>
            <br>
        
            <% for(let i = 0; i < playerListHome.length; i++){ %>
                <% let playerDet = playerListHome[i]; %>
                <div class="player-block">
                    <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                    <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                    <div><i class="fas fa-plus-circle player-add-icon"  data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>"></i></div>
                </div>
                <% } %>
                
            <br>
            <br>
            
            <strong class="team-name"><%= awayTeamName.toUpperCase() %></strong>
            <br>
            
            <% for(let i = 0; i < playerListAway.length; i++){ %>
                <% let playerDet = playerListAway[i]; %>
                <div class="player-block">
                    <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                    <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                    <div><i class="fas fa-plus-circle player-add-icon" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>"></i></div>
                </div>
            <% } %>
        </div>
    <% } %>
    <div class="select-player-footer">
        <button id="select-player-save">SAVE</button>
        <button id="select-player-cancel">CANCEL</button>
    </div>
</div>
<script src="/js/contest-card.js"></script>