<link rel="stylesheet" href="/css/contest-card.css">
<link rel="stylesheet" href="/css/leaderboard.css">

<div id="container">
    <% let playerListHome = match_details.results[0].live_details.teamsheets.home.playerListHome %>
    <% let playerListAway = match_details.results[0].live_details.teamsheets.away.playerListAway %>

    <% let homePlayerDet = match_details.results[0].live_details.teamsheets.home.homePlayerDet %>
    <% let awayPlayerDet = match_details.results[0].live_details.teamsheets.away.awayPlayerDet %>


    <% let details = match_details.results[0].live_details %>
    <div id = "score-btn-div">
        <button id="scoreCard" >SCORECARD</button>
    </div>


    <h1 class="container-heading">
        <%= homeTeamName.toUpperCase() %> -Vs- <%= awayTeamName.toUpperCase() %>
    </h1>
    <% let count = 0 %>
    <% for(let x of contests) { %>
        <div class="contest-card"  data-contest-id = "<%= x.contestId%>" data-match-id="<%= matchId %>">
            <div class="card-header">
                <p>Prize Pool</p>
                <% if(x.contestCode != "") {%>
                    <p class = "contest-code-p">Contest Code : <span id="contest-code"><%= x.contestCode %></span> &nbsp;&nbsp;&nbsp;<i class="far fa-copy" id="contest-code-copy" data-contest-code="<%= x.contestCode%>"></i></p>

                 <% } %>   
                <p>Entry</p>
            </div>
            <div class="pool-price">
                <p class="contest-prize-pool" data-count = "<%= count %>">₹ <%= x.price %> ↓</p>
                <button id="money-to-join-contest" data-contest-id = "<%= x.contestId%>" data-match-id="<%= matchId %>">₹<%= x.price/x.totalSpots %></button>
            </div>
            <div class="contest-participation">
                <p> <%= x.spotsLeft %> Spots Left</p>
                <p> <%= x.totalSpots %> Spots</p>
            </div>
        </div>

        <div class="winnings-breakdown-container extra-contanier">
            <i class="fa fa-window-close close-breakup" style="font-size:24px;color:white"></i>
            <h4>Winnings Breakdown</h4>
            <div class="grid-container-winning">
                <div class="grid-item grid-item-header">Rank</div>
                <div class="grid-item grid-item-header">Winnings</div>
                <% for(let i = 0; i < x.prizeDetails.length; i++) { %>
                    <div class="grid-item">Rank <%= i + 1 %></div>
                    <div class="grid-item">₹ <%= x.prizeDetails[i].prize %></div>
                <% } %>
            </div>
        </div>

        <% count++ %>
    <% } %>
</div>

<div id="scorecard-container" class="extra-contanier">

    <div class="toss">
        <% if(details.inPlay == "Yes") {%>
            <p><%= details.toss %></p>
        <% }else {  %>
            <p><%= details.status %></p>
        <% } %>
    </div>
    <% if(details.titleFI && details.titleFI.split(' ')[0].toLowerCase() != homeTeamName.split(' ')[0].toLowerCase()) {%>
        <% [playerListHome, playerListAway] = [playerListAway, playerListHome] %>
    <% } %>
    <i class="fa fa-window-close" id="close-scorecard" style="font-size:24px;color:white"></i>

    <div id="team-score">
        <span><%= details.titleFI %></span>
        <span id="score"><%= details.runFI %>-<%= details.wicketsFI %> (<%= details.oversFI %> Ov)</span>
    </div>
    <div class="grid-container">
        <div class="grid-item grid-item-header">Batter</div>
        <div class="grid-item grid-item-header"></div>
        <div class="grid-item grid-item-header">R</div>  
        <div class="grid-item grid-item-header">B</div>
        <div class="grid-item grid-item-header">4s</div>
        <div class="grid-item grid-item-header">6s</div>  
        <div class="grid-item grid-item-header">SR</div>
        <% playerListHome.sort(function(a, b){return a.batOrder - b.batOrder}); %>
        <% for(let x of playerListHome) { %> 
            <% if(x.batOrder != -1) { %>
                <div class="grid-item"><%= x.playerName.charAt(0).toUpperCase() + x.playerName.slice(1) %></div>
                <div class="grid-item"><%= x.howOut%></div>
                <div class="grid-item"><%= x.runs %></div>  
                <div class="grid-item"><%= x.balls %></div>
                <div class="grid-item"><%= x.fours %></div>
                <div class="grid-item"><%= x.sixes %></div>  
                <div class="grid-item"><%= x.strikeRate %></div>
            <% } %>
        <% } %>
        <div id="extras">
            <span>Extras</span>
            <span id="extras-details"><%= details.extrasDetailFI %></span>
        </div>
      </div>

      <br>

      <div id="fow">
        <div class="fow-header">Fall of Wickets</div>
        <p id="fow-details"><%= details.fowFI %></p>
      </div>

      <br>
      <br>

      <div class="grid-container">
        <div class="grid-item grid-item-header">Bowler</div>
        <div class="grid-item grid-item-header"></div>
        <div class="grid-item grid-item-header">O</div>  
        <div class="grid-item grid-item-header">M</div>
        <div class="grid-item grid-item-header">R</div>
        <div class="grid-item grid-item-header">W</div>  
        <div class="grid-item grid-item-header">ECO</div>
        <% for(let x of playerListAway) { %>
            <% if(x.overs != 0) {%>
                <div class="grid-item"><%= x.playerName.charAt(0).toUpperCase() + x.playerName.slice(1) %></div>
                <div class="grid-item"></div>
                <div class="grid-item"><%= x.overs %></div>  
                <div class="grid-item"><%= x.maidens %></div>
                <div class="grid-item"><%= x.runsConceded %></div>
                <div class="grid-item"><%= x.wickets %></div>  
                <div class="grid-item"><%= x.economy %></div>
            <% } %>
        <% } %>
      </div>

      <br>
      <br>
      <br>

      <div id="team-score">
        <span><%= details.titleSI %></span>
        <span id="score"><%= details.runSI %>-<%= details.wicketsSI %> (<%= details.oversSI %> Ov)</span>
      </div>
      <div class="grid-container">
        <div class="grid-item grid-item-header">Batter</div>
        <div class="grid-item grid-item-header"></div>
        <div class="grid-item grid-item-header">R</div>  
        <div class="grid-item grid-item-header">B</div>
        <div class="grid-item grid-item-header">4s</div>
        <div class="grid-item grid-item-header">6s</div>  
        <div class="grid-item grid-item-header">SR</div>
        <% playerListAway.sort(function(a, b){return a.batOrder - b.batOrder}); %>
        <% for(let x of playerListAway) { %>
            <% if(x.batOrder != -1) { %>
                <div class="grid-item"><%= x.playerName.charAt(0).toUpperCase() + x.playerName.slice(1) %></div>
                <div class="grid-item"><%= x.howOut%></div>
                <div class="grid-item"><%= x.runs %></div>  
                <div class="grid-item"><%= x.balls %></div>
                <div class="grid-item"><%= x.fours %></div>
                <div class="grid-item"><%= x.sixes %></div>  
                <div class="grid-item"><%= x.strikeRate %></div>
            <% } %>
        <% } %>
        <div id="extras">
            <span>Extras</span>
            <span id="extras-details"><%= details.extrasDetailSI %></span>
        </div>
      </div>

      <br>

      <div id="fow">
        <div class="fow-header">Fall of Wickets</div>
        <p id="fow-details"><%= details.fowSI %></p>
      </div>

      <br>
      <br>

      <div class="grid-container">
        <div class="grid-item grid-item-header">Bowler</div>
        <div class="grid-item grid-item-header"></div>
        <div class="grid-item grid-item-header">O</div>  
        <div class="grid-item grid-item-header">M</div>
        <div class="grid-item grid-item-header">R</div>
        <div class="grid-item grid-item-header">W</div>  
        <div class="grid-item grid-item-header">ECO</div>
        <% for(let x of playerListHome) { %>
            <% if(x.overs != 0) {%>
                <div class="grid-item"><%= x.playerName.charAt(0).toUpperCase() + x.playerName.slice(1) %></div>
                <div class="grid-item"></div>
                <div class="grid-item"><%= x.overs %></div>  
                <div class="grid-item"><%= x.maidens %></div>
                <div class="grid-item"><%= x.runsConceded %></div>
                <div class="grid-item"><%= x.wickets %></div>  
                <div class="grid-item"><%= x.economy %></div>
            <% } %>
        <% } %>

        <br>
      </div>
</div>

<div id="join-contest" class="extra-contanier">
    <p>Do you want to join this contest?</p>
    <div id="join-noJoin-button">
        <button id="yes-contest-join-button" class="save-btn">
            Yes
        </button>

        <button id="no-contest-join-button" class="cancel-btn">
            No
        </button>
    </div>
</div>

<% let wicketKeepers = [] %>
<% let batsmen = [] %>
<% let allRounders = [] %>
<% let bowlers = [] %>
<% let teamPresent = "false" %>


<% if(teamDetail != "undefined") {%>
    <% teamPresent = "true" %>
    <% for(let x of teamDetail.players) {%>
        <% let playerNameArray = x.playerName.split(' ') %>
        <% let playerName = playerNameArray[0][0].toUpperCase() + '. ' + playerNameArray[playerNameArray.length - 1].charAt(0).toUpperCase() + playerNameArray[playerNameArray.length - 1].slice(1); %>
        <% if(x.playerId == teamDetail.captainId) {%>
            <% playerName += "(c)" %>
        <% } %>
        <% if(x.playerId == teamDetail.viceCaptainId) {%>
            <% let vc = "VC" %>
            <% playerName += "(vc)" %>
        <% } %>
        <% let playerPoint = x.point %>
        <% let playerInfo = {playerName: playerName, playerPoint:playerPoint} %>
        <% if(x.position == "wicketkeeper") {%>
            <% wicketKeepers.push(playerInfo); %>
        <% } %>
        <% if(x.position == "batsman") {%>
            <% batsmen.push(playerInfo); %>
        <% } %>
        <% if(x.position == "allrounder") {%>
            <% allRounders.push(playerInfo); %>
        <% } %>
        <% if(x.position == "bowler") {%>
            <% bowlers.push(playerInfo); %>
        <% } %>
    <% } %>
<% } %>
<div class="user-team extra-contanier" data-team="<%= teamPresent %>">
    <i class="fa fa-window-close close-team"></i>
    <p class="position-heading">WICKET-KEEPER</p>
    <div class="user-team-wicketKeeper user-team-position">
        <% for(let x of wicketKeepers) {%>
            <div class="player-icon-name">
                <img class="player-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png" alt="??">
                <p class="playerName"><%= x.playerName %></p>
                <p class="playerPoints"><%= x.playerPoint %> Pts</p>
            </div>
        <% } %>
    </div> 

    <p class="position-heading"> BATSMEN</p>
    <div class="user-team-batsman user-team-position">
        <% for(let x of batsmen) {%>
            <div class="player-icon-name">
                <img class="player-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png" alt="??">
                <p class="playerName"><%= x.playerName %></p>
                <p class="playerPoints"> <%= x.playerPoint %> Pts</p>
            </div>
        <% } %>
    </div>

    <p class="position-heading">ALL-ROUNDERS</p>
    <div class="user-team-allRounder user-team-position">
        <% for(let x of allRounders) {%>
            <div class="player-icon-name">
                <img class="player-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png" alt="??">
                <p class="playerName"><%= x.playerName %></p>
                <p class="playerPoints"> <%= x.playerPoint %> Pts</p>
            </div>
        <% } %>
    </div>

    <p class="position-heading">BOWLERS</p>
    <div class="user-team-bowler user-team-position">
        <% for(let x of bowlers) {%>
            <div class="player-icon-name">
                <img class="player-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png" alt="??">
                <p class="playerName"><%= x.playerName %></p>
                <p class="playerPoints"> <%= x.playerPoint %> Pts</p>
            </div>
        <% } %>
    </div>
</div>


<div class="create-team-footer">
    <button id="create-team-button" class="create-footer-button">CREATE TEAM</button>
    <button id="create-contest-button" class="create-footer-button">CREATE / JOIN  CONTEST</button>
    <button id="team-display-button" class="create-footer-button">MY TEAM</button>
</div>

<div id="select-players-parent" class="extra-contanier">

    <% if(lineupsOut) { %>
        <div id="select-players">
        
            <strong class="team-name"><%= homeTeamName.toUpperCase() %></strong>
            <br>
            <fieldset>
                <legend>&nbsp;Wicket-Keeper&nbsp;</legend>
                <% for(let i = 0; i < homePlayerDet.wicketkeeper.length; i++){ %>
                    <% let playerDet = homePlayerDet.wicketkeeper[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="0">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>" disabled="disabled" >
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
            <fieldset>
                <legend>&nbsp;Batsman&nbsp;</legend>
                <% for(let i = 0; i < homePlayerDet.batsman.length; i++){ %>
                    <% let playerDet = homePlayerDet.batsman[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="0">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
            <fieldset>
                <legend>&nbsp;All-Rounder&nbsp;</legend>
                <% for(let i = 0; i < homePlayerDet.allRounder.length; i++){ %>
                    <% let playerDet = homePlayerDet.allRounder[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="0">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
            <fieldset>
                <legend>&nbsp;Bowler&nbsp;</legend>
                <% for(let i = 0; i < homePlayerDet.bowler.length; i++){ %>
                    <% let playerDet = homePlayerDet.bowler[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="0">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>"disabled="disabled">
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
                
            <br>
            <br>
            
            <strong class="team-name"><%= awayTeamName.toUpperCase() %></strong>
            <br>
            <fieldset>
                <legend>&nbsp;Wicket-Keeper&nbsp;</legend>
                <% for(let i = 0; i < awayPlayerDet.wicketkeeper.length; i++){ %>
                    <% let playerDet = awayPlayerDet.wicketkeeper[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="1">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
            <fieldset>
                <legend>&nbsp;Batsman&nbsp;</legend>
                <% for(let i = 0; i < awayPlayerDet.batsman.length; i++){ %>
                    <% let playerDet = awayPlayerDet.batsman[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="1">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
            <fieldset>
                <legend>&nbsp;All-Rounder&nbsp;</legend>
                <% for(let i = 0; i < awayPlayerDet.allRounder.length; i++){ %>
                    <% let playerDet = awayPlayerDet.allRounder[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="1">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i" disabled="disabled">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
            <fieldset>
                <legend>&nbsp;Bowler&nbsp;</legend>
                <% for(let i = 0; i < awayPlayerDet.bowler.length; i++){ %>
                    <% let playerDet = awayPlayerDet.bowler[i]; %>
                    <div class="player-block" data-player-name="<%= playerDet.playerName %>" data-player-id = "<%= playerDet.playerId %>" data-match-id = "<%= matchId %>" data-player-position = "<%= playerDet.position %>" data-team="1">
                        <div class="player_name" id=<%= playerDet.playerId %> ><%= playerDet.playerName.toUpperCase() %></div>
                        <div class="player_position"><%= playerDet.position.toUpperCase() %></div>
                        <div class="captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="captain-radio" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">c</div>
                            </label>
                        </div>
                        <div class="vice-captain">
                            <label class="radio-btn-captain-label" >
                                <input type="radio" name="vice-captain-radio"" value="<%=playerDet.playerId %>" disabled="disabled">
                                <div class="captain-i">vc</div>
                            </label>
                        </div>
                    </div>
                <% } %>
            </fieldset>
            
        </div>
    <% } %>
    <div class="select-player-footer">
        <button id="select-player-save" class="save-btn">SAVE</button>
        <button id="select-player-cancel" class="cancel-btn">CANCEL</button>
    </div>
</div>

<div id="create-contest-parent" class="extra-contanier">
    <div class="btn-div">
        <div id="create-div">
            CREATE
        </div>
        <div id="join-div">
            JOIN
        </div>
    </div>
    <div class="create-join-contest">
        <div class="create-contest-container">
            <div class ="create-contest-details">
                <div class="entry">
                    <label for="entry">Entry Amount : </label>
                    <div>
                        ₹&nbsp;<input id ="entry" type="number" required>
                    </div>
                    
                </div>
                <div class="spots">
                    <label for="spots">Total Spots : </label>
                    <div>
                        &nbsp;&nbsp;<input id ="spots" type="number" required>
                    </div>
                </div>
    
                <div class="numWinners">
                    <label for="winners">Total Winners : </label>
                    <div>
                        &nbsp;&nbsp;<input id ="winners" type="number" required>
                    </div>
                </div>
            </div>
        
            <div class="create-contest-footer">
                <button id="create-contest-save" class="save-btn" data-match-id = "<%= matchId %>">CREATE</button>
                <button id="create-contest-cancel" class="cancel-btn">CANCEL</button>
            </div>
        </div>
        <div class="join-contest-container">
            <div class ="join-contest-details">
                <div class="entry">
                    <label for="join-code">Enter Code : </label>
                    <div>
                        <input id ="join-code" type="string" required>
                    </div>
                </div>
            </div>
            <div class="join-contest-footer">
                <button id="join-contest-save" class="save-btn" data-match-id = "<%= matchId %>">JOIN</button>
                <button id="create-contest-cancel" class="cancel-btn">CANCEL</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/contest-card.js"></script>