<link rel="stylesheet" href="/css/user_profile.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<div class="container">
    <div class="user-details profile-sections-main">
        <div>
            <img src="https://images.fanfight.com/avatars/avatar20.png" alt="User Avatar" id="user-image">
        </div>

        <div class="followers">
            <p>
                <%= followers.length %>
            </p>
            <p>
                followers
            </p>
        </div>

        <div class="following">
            <p>
                <%= following.length %>
            </p>
            <p>
                following
            </p>
        </div>

        <div class="user-name-hello">
            <p>Hello,</p>
            <p id="user-name"><%= userId %></p>
            <% if(user.userId != userId){ %>
                <div id="follow-button-div">
                    <% if(!isUserPresent){ %>
                        <button id="follow-button" data-follow-userId = "<%= userId%>">
                            FOLLOW
                        </button>
                    <% }else{ %>
                        <button id="following-div">
                            Following
                        </button>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>

    <% if(user.userId == userId){ %>
        <div class="user-wallet profile-sections">
            <div id="wallet-icon-name" class="logo-name">
                <i class="fas fa-wallet"></i>
                <p>
                    My Balance
                </p>
            </div>
            <div id="wallet-details">
                <p ><i class="fas fa-wallet fa-5x" id="wallet-logo"></i></p>
                <p id="my-balance-title">MY BALANCE</p>
                <p id="wallet-balance" data-wallet-balance = "<%= wallet %>">₹ <%= wallet %></p>
                <button id="add-money-button">
                    Add Cash
                </button>
                <button id="withdraw-money-button">
                    Withdraw Cash
                </button>
            </div>
    
            <div id="enter-add-amount-div">
                <p>
                    Enter Amount
                </p>
                <div id="rupee-amount-input">
                    <div id="rupee-icon">
                        ₹
                    </div>
                    <input type="tel" name="amount" maxlength="8" placeholder="Enter amount (₹20 to ₹100000)" id="enter-add-amount-input" value="" required>
                </div>
                <button id="add-cash-button">
                    ADD CASH
                </button>
            </div>
    
            <div id="enter-withdraw-amount-div">
                <p>
                    Enter Amount
                </p>
                <div id="rupee-amount-input">
                    <div id="rupee-icon">
                        ₹
                    </div>
                    <input type="tel" name="amount" maxlength="8" placeholder="Enter amount (₹100 to ₹100000)" id="enter-withdraw-amount-input" value="" required>
                </div>
                <button id="withdraw-cash-button">
                    WITHDRAW CASH
                </button>
            </div>
        </div>
    <% } %>
    <div class="my-stats profile-sections">
        <div id="stat-icon-name" class="logo-name">
            <i class="fas fa-chart-bar" ></i>
            <% if(user.userId == userId){ %>
                <p>
                    My Stats
                </p>
            <% }else{ %>
                <p>
                    Stats
                </p>
            <% } %>
        </div>
        <div id="contest-details">
            <% if(user.userId == userId){ %>
                <div id="winning-amount">
                    <p>Total Winnings</p>
                    <p>₹ <%= totalAmountWon %> </p>
                </div>
            <% } %>
            <div id="general-stats">
                <div>
                    <p>Contest Joined </p>
                    <p class="general-stats-value">
                        <%= numberOfContestJoined %>
                    </p>
                </div>

                <div>
                    <p>Team Created</p>
                    <p class="general-stats-value">
                        <%= numberOfTeamsCreated  %>
                    </p>
                </div>
                
                <div>
                    <p>Total Wins</p>
                    <p class="general-stats-value">
                        <%= numberOfContestWon %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <% if(user.userId == userId){ %>
        <div class="my-transaction profile-sections">
            <div class="logo-name" id="transaction-div">
                <i class="fas fa-money-bill"></i>
                <p>
                    My Transactions
                </p>
            </div>

            <% function checkLength(num) {%>
                <% if(num.toString().length == 1){ %>
                    <% console.log("0"+num.toString());%>
                    <% return "0"+num.toString(); %>
                <% } %>
                <% console.log(num.toString());%>
                <% return num.toString(); %>
            <% } %>

            <div id="transaction-details-container">
                <% if(transactions.length == 0) {%>
                    <div class="transaction-details" style="align-items: center;">No Transactions Yet!</div>
                <% } %>
                <% for(let i = 0; i < transactions.length; i++){ %>
                    <% let date = new Date(transactions[i].createdAt); %>
                    <div class="transaction-details">
                        <div class="amount">
                            ₹<%= transactions[i].amount %>
                        </div>
                        <div class="action">
                            <%= transactions[i].action.toUpperCase() %>
                        </div>
                        <div class="transactioId">
                            <%= transactions[i].transactionId %>
                        </div>
                        <div class="date">
                            <%= checkLength(date.getDate()) %>/<%= checkLength(date.getMonth()+1).trim() %>/<%= date.getFullYear() %> 
                            <%= checkLength(date.getHours()) %>:<%= checkLength(date.getMinutes()) %>:<%= checkLength(date.getSeconds()) %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

    
        <div class="refer-earn profile-sections">
            <div class="logo-name" id="refer-div">
                <i class="fas fa-gift"></i>
                <p>Refer & Earn</p>
            </div>
            <div id="referAndEarn">
                <p class="get-upto">GET UPTO</p>
                <p class="refer-earn-price">₹ 100</p>
                <p class="referral-msg">on every referral</p>
                <fieldset>
                    <legend>Your Code</legend>
                    <% let referCode = Buffer.from(userIdDB).toString('base64'); %>
                    <p id="refer-code">  <%= referCode  %> </p>
                    <i class="far fa-copy" id="refer-code-copy" data-refer-code="<%= referCode %>"></i></p>
                </fieldset>
            </div>
        </div>
    
        <div class="bank-accounts profile-sections">
            <div class="logo-name" id="bank-account-div">
                <i class="fas fa-university"></i>
                <p>Bank Account</p>
            </div>
    
            <% if(!accountNumber) {%>
                <div id="enter-account-div">
                    <p>
                        Enter Account Details
                    </p>
                    <form action="/users/profile/addAccount" method="POST">
                        <div id="ifsc-account-div">
                            <input type="text" name="ifsc" placeholder="Enter IFSC" id="enter-ifsc-code" value="" required>
                            <br>
                            <input type="text" name="accountNumber" placeholder="Enter Account Number" id="enter-account-number" value="" required>
                        </div>
                        <button id="add-account-button" type="submit">
                            ADD ACCOUNT
                        </button>
                    </form>
                </div>
            <% }else{ %>
                <div id="enter-account-div">
                    <p>
                        Account Details
                    </p>
                    <div id="ifsc-account-div">
                        <input type="text" name="ifsc" placeholder="Enter IFSC" id="enter-ifsc-code" value="<%= ifsc %>" readonly>
                        <br>
                        <input type="text" name="accountNumber" placeholder="Enter Account Number" id="enter-account-number" value="<%= accountNumber %>" readonly>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>

</div>

<div id="following-list" data-following-length = "<%= following.length %>">
    <div id="following-list-heading">
        Following
    </div>
    <i class="fa fa-window-close" id="close-following-list" style="font-size:24px;color:white"></i>
    <br>
    <% for(i of following){ %>
        <div id="following-userNames">
            <img src="https://images.fanfight.com/avatars/avatar20.png" alt="" id="following-image">
            <a href="/users/profile/<%= i %>">
                <%= i %>
            </a>
        </div>
    <% } %>
</div>

<div id="followers-list" data-followers-length = "<%= followers.length %>">
    <div id="followers-list-heading">
        Followers
    </div>
    <i class="fa fa-window-close" id="close-followers-list" style="font-size:24px;color:white"></i>
    <br>
    <% for(i of followers){ %>
        <div id="followers-userNames">
            <img src="https://images.fanfight.com/avatars/avatar20.png" alt="" id="follower-image">
            <a href="/users/profile/<%= i %>">
                <%= i %>
            </a>
        </div>
    <% } %>
</div>


<script src="/js/user_profile.js"></script>
